<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>all messages</title>
  </head>
  <body>
    <div class="redirect-button-div">
      <button class="redirect-button" onclick="location.href='/new'">
        send a message
      </button>
    </div>

    <% messages.map((message) => { %>
    <div class="message-div">
      <h2 class="user-name"><b>@<%= message.username %></b> sent:</h2>

      <h2 class="the-message"><%= message.message %></h2>

      <p>at: <%= message.added %></p>

      <button onclick="location.href='/openMessage/<%= message.id %>'">
        open
      </button>

      <button
        class="del-button"
        onclick="confirmDelete(event, <%= message.id %>)"
      >
        Delete
      </button>
    </div>
    <% }) %>

    <script>
      function confirmDelete(event, id) {
        const confirmBtn = confirm("Are you sure?");

        if (!confirmBtn) {
          event.preventDefault();
        } else {
          window.location.href = `/deleteMessage/${id}`;
        }
      }
    </script>
  </body>
</html>
